@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===Colors=== */
body {
  background-color: #eeeeee;
  font-family: "Open Sans", sans-serif; }

html,
body,
.wrap,
.left-nav,
.content {
  height: 100%;
  min-height: 100%; }

.wrap {
  width: 100%;
  overflow: hidden; }
  .wrap .left-nav {
    float: left;
    width: 95px;
    overflow: hidden;
    background: #ffffff;
    border-right: 1px solid #d2d2d2; }
    .wrap .left-nav .navbar {
      background: #ffffff;
      border: none; }
      .wrap .left-nav .navbar .navbar-collapse {
        padding: 0; }
        .wrap .left-nav .navbar .navbar-collapse .nav li {
          width: 100%;
          text-align: center;
          padding: 20px 0;
          border-bottom: 1px solid #d2d2d2; }
          .wrap .left-nav .navbar .navbar-collapse .nav li a {
            outline: none;
            padding: 0;
            background-color: #ffffff; }
            .wrap .left-nav .navbar .navbar-collapse .nav li a img {
              max-width: 32px; }
  .wrap .content {
    margin-left: 95px;
    overflow: auto;
    padding-bottom: 20px; }
    .wrap .content .box {
      width: 100%;
      margin-top: 20px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px; }
      .wrap .content .box figure {
        margin: 0;
        position: relative;
        overflow: hidden;
        text-align: center; }
        .wrap .content .box figure img {
          max-width: 100%;
          display: inline-block;
          position: relative;
          -moz-transition: 0.4s;
          -o-transition: 0.4s;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        .wrap .content .box figure:hover img {
          -webkit-transform: translateY(-50px);
          -moz-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          transform: translateY(-50px); }
        .wrap .content .box figure:hover figcaption {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s; }
        .wrap .content .box figure figcaption {
          text-align: left;
          color: #ffffff;
          background: rgba(255, 255, 255, 0.1);
          padding: 15px;
          width: 100%;
          top: auto;
          bottom: 0;
          opacity: 0;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
          transition: transform 0.4s, opacity 0.1s 0.3s; }
          .wrap .content .box figure figcaption h3 {
            font-size: 16px;
            font-weight: 600; }
          .wrap .content .box figure figcaption span {
            display: block;
            width: 100%;
            padding-top: 5px;
            font-size: 14px;
            line-height: 1.5; }

.bloger-block {
  padding-top: 20px;
  background: #ce483d; }
  .bloger-block img {
    padding: 0 60px; }

.chrome-block {
  padding-top: 60px;
  background: #79302a; }
  .chrome-block img {
    padding: 0 50px; }

.gmail-block {
  padding-top: 60px;
  background: #abcbd6; }
  .gmail-block img {
    padding: 0 50px; }

.map-block {
  padding-top: 60px;
  background: #f8bd27; }
  .map-block img {
    padding: 0 50px; }

.news-block {
  padding-top: 60px;
  background: #7bc1a1; }
  .news-block img {
    padding: 0 50px; }

.search-block {
  padding-top: 60px;
  background: #5b97ff; }
  .search-block img {
    padding: 0 50px; }

.youtube-block {
  padding-top: 60px;
  background: #2b2423; }
  .youtube-block img {
    padding: 0 50px; }

.android-block {
  padding-top: 60px;
  background: #8eb021; }
  .android-block img {
    padding: 0 50px; }

/*# sourceMappingURL=style.css.map */
