@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===Colors=== */
body {
  background-color: #eeeeee;
  font-family: "Open Sans", sans-serif; }

.wrap {
  width: 100%; }
  .wrap .left-nav {
    float: left;
    width: 95px;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    border-right: 1px solid #d2d2d2; }
    .wrap .left-nav .navbar {
      background: #ffffff;
      border: none; }
      .wrap .left-nav .navbar .navbar-collapse {
        padding: 0; }
        .wrap .left-nav .navbar .navbar-collapse .nav li {
          width: 100%;
          text-align: center;
          padding: 20px 0;
          border-bottom: 1px solid #d2d2d2; }
          .wrap .left-nav .navbar .navbar-collapse .nav li a {
            outline: none;
            padding: 0;
            background-color: #ffffff; }
            .wrap .left-nav .navbar .navbar-collapse .nav li a img {
              max-width: 32px; }
  .wrap .content {
    width: calc(100% - 95px);
    padding: 20px 20px 0;
    line-height: 0;
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    -ms-column-count: 5;
    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px; }
    .wrap .content .box {
      position: relative;
      width: 100% !important;
      height: auto !important;
      margin-bottom: 20px;
      -webkit-column-break-inside: avoid;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      transform-style: preserve-3d; }
      .wrap .content .box:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1; }
      .wrap .content .box figure {
        position: relative;
        overflow: hidden;
        text-align: center; }
        .wrap .content .box figure a {
          display: block; }
          .wrap .content .box figure a img {
            padding: 0 60px;
            max-width: 100%;
            top: 50px;
            display: inline-block;
            position: relative;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
        .wrap .content .box figure:hover img {
          -webkit-transform: translateY(-50px);
          -moz-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          transform: translateY(-50px); }
        .wrap .content .box figure:hover figcaption {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s; }
        .wrap .content .box figure figcaption {
          text-align: left;
          color: #ffffff;
          background: rgba(255, 255, 255, 0.1);
          padding: 15px;
          width: 100%;
          top: auto;
          bottom: 0;
          opacity: 0;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
          transition: transform 0.4s, opacity 0.1s 0.3s; }
          .wrap .content .box figure figcaption h3 {
            font-size: 16px;
            font-weight: 600; }
            .wrap .content .box figure figcaption h3:after {
              content: ">>";
              padding-left: 5px;
              font-size: 12px; }
          .wrap .content .box figure figcaption span {
            display: block;
            width: 100%;
            padding-top: 15px;
            font-size: 14px;
            line-height: 1.25; }

.bloger-block {
  background: #ce483d; }

.chrome-block {
  background: #79302a; }

.gmail-block {
  background: #abcbd6; }

.map-block {
  background: #f8bd27; }

.news-block {
  background: #7bc1a1; }

.search-block {
  background: #5b97ff; }

.youtube-block {
  background: #2b2423; }

.android-block {
  background: #8eb021; }

.music-block {
  background: #ffd006; }

.earth-block {
  background: #101e55; }

@media (max-width: 1440px) {
  .wrap .content {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4; } }
@media (max-width: 1024px) {
  .wrap .content {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3; }
    .wrap .content .box figure figcaption h3 {
      font-size: 14px; }
    .wrap .content .box figure figcaption span {
      font-size: 12px; } }
@media (max-width: 767px) {
  .wrap .left-nav {
    width: 70px; }
  .wrap .content {
    width: calc(100% - 70px);
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2; } }
@media (max-width: 640px) {
  .wrap .content {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1; } }

/*# sourceMappingURL=style.css.map */
